.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 40px;
  color: #fff;
  margin-left: 30px;
}

.hamburger {
  cursor: pointer;
  margin-right: 30px;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.searchcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.searchbarcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  border-radius: 30px;
  height: 50px;
  width: 300px;
  padding-left: 40px;
  border: none;
  color: #949faa;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  --input-text-color: #fff;
  background-color: #283542;
}

.searchbar:focus {
  outline: none;
  color: #fff;
}

.searchcontainer .searchbar:focus {
  border: 0.5px solid #1b9bee;
}

.searchbar:focus + .searchicon {
  color: #1b9bee;
}

.searchicon {
  color: #949faa;
  position: absolute;
  left: 15px;
}

.navbar {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.blacktextgradient {
  /* background: linear-gradient(to right, #434343, #000000); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: "Cookie", cursive;
  /* text-shadow: none; */
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.blacktextgradient::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}

.blacktextgradient:hover::before {
  width: 100%;
}

.menucontainer {
  position: relative;
  display: none;
}

.menu{
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  font-size: 25px;
  top: 100%;
  position: absolute;
  width: 100px;
  right: 0;
  border-radius: 10px;
}

.menu .link{
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transition: width 0.4s;
}

.link:hover::before {
  width: 100%;
}


@media screen and (max-width: 1080px) {
  .searchbar {
    width: 200px;
  }
  .line {
    stroke: white;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .menucontainer {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
  }
  
}
