.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 40px;
  color: #fff;
  margin-left: 30px;
}

.hamburger {
  cursor: pointer;
  margin-right: 30px;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.searchcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.searchbarcontainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar {
  border-radius: 30px;
  height: 50px;
  width: 300px;
  padding-left: 40px;
  border: none;
  color: #949faa;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  --input-text-color: #fff;
  background-color: #283542;
}

.searchbar:focus {
  outline: none;
  color: #fff;
}

.searchcontainer .searchbar:focus {
  border: 0.5px solid #1b9bee;
}

.searchbar:focus + .searchicon {
  color: #1b9bee;
}

.searchicon {
  color: #949faa;
  position: absolute;
  left: 15px;
}

@media screen and (max-width: 1080px) {
  .searchbar {
    width: 200px;
  }
  .line{
    stroke: white;
  }
}
